@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

:root {
    --primary-color: hsl(217, 19%, 35%);
    --secondary-color: hsl(214, 17%, 51%);
    --light-color: hsl(212, 23%, 69%);
    --lighter-color: hsl(210, 46%, 95%);
    --dark-grayish-blue:   #9eafc2;
    --light-grayish-blue: #ecf2f8;
    --oval: hsla(210, 46%, 95%, 1);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: 'Manrope', sans-serif;
    line-height: 1.6;
    background-color: var(--lighter-color);
    font-size: 13px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.app {
    display: grid;
    place-items: center;
}

main {
   margin: 74px 24px;
   width: 327px;
   height: 512px;
   background-color: var(--lighter-color);
   border-radius: 10px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.app__image {
    height: 200px;
    width: 327px;
    border-radius: 10px 10px 0 0;
}

.app__content {
    display: flex;
    flex-direction: column;
    margin: 30px 32px;
    width: 263px;
}

.app__content-mainText {
    font-size: 16px;
    font-weight: 700;
    color: var(--primary-color);
    line-height: 24px;
}

.app__content-subText {
    margin-top: 12px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.122px;
    color: var(--secondary-color);
}

.app_content-footer {
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.app__content-author {
    display: flex;
    gap: 16px;
}

.app__content-authorImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.app__content-authorDetails {
    width: 116px;
    font-weight: 700;
}

.app__content-authorDetails span {
    color: var(--light-color);
    font-weight: 500;
}

.app__content-share {
    width: 32px;
    height: 32px;
    background: var(--light-color);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app__content-share--active {
    width: 32px;
    height: 32px;
    background: var(--dark-grayish-blue);
    opacity: .8;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app__share-card {
    display: none;
    
}
.app__share-card p {
    letter-spacing: 5px;
    font-weight: 500;
    line-height: 20px;
    color: var(--light-color);   
}

@media only screen and (min-width: 768px) {
    main {
        margin: 250px 250px;
        width: 750px;
        height: 280px;
        display: flex;
    }

    .app__image {
        width: 350px;
        height: 280px;
        border-radius: 10px 0px 0px 10px;
    }

    .app__content-mainText {
        width: 365px;
        font-size: 20px;
        margin-right: 32px;
    }

    .app__content-subText {
        width: 365px;
        font-size: 13px;
        margin-right: 32px;
    }

    .app_content-footer {
        width: 350px;
        margin-right: 52px;
    }

    .app__share-card {
        position: absolute;
        margin-top: -105px;
        right: 175px;
        display: none;
    }

    .app__content-share--active {
        width: 32px;
        height: 32px;
        background: var(--dark-grayish-blue);
        opacity: .8;
        border-radius: 50%;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .app__share-cardContent {
        width: 248px;
        height: 63px;
        background: var(--primary-color);
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 21px;
    }

    .app__share-arrow {
        width: 20px;
        height: 20px;
        content: '';
        border: 10px solid transparent;
        border-top-color: var(--primary-color);
        margin-left: 120px; 
    }
}

 